@keyframes scale-up-hor-left {
    0% {
        transform: scaleX(0.2);
        transform-origin: 0% 0%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 0% 0%;
    }
}

.AllFichePoke {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    font-size: 1.3vw;

    .fichePokemon {
        display: grid;
        grid-template-columns: repeat(30vw, 30vw);
        grid-template-rows: 55vw;
        border-style: groove;
        border-radius: 2vw;
        width: 60vw;
        padding: 3vw;
        background: $grey ;
        
        .basePokemon {
            grid-area: 1 / 1 / 2 / 2;
            .sprite {
                width: 25vw;
                padding-bottom: 5vw;
                margin-top: -3vw;
            }
            li {
                grid-area: 1 / 1 / 2 / 2;
                display: grid;
                width: 33vw;
                grid-template-columns: 8vw 18vw 7vw;
                grid-template-rows: 1fr;
    
    
                .stat-bar {
                    grid-area: 1 / 2 / 2 / 3;
                    margin-top: 0.8vw;
                    height: 0.6vw;
                    width: 7vw;
    
                    .value {
                        animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
                        height: 100%;
                        grid-area: 1 / 3 / 2 / 4;
                    }
    
                    &.very-low .value {
                        background-color: red;
                    }
    
                    &.low .value {
                        background-color: orange;
                    }
    
                    &.medium .value {
                        background-color: #1d7f24;
                    }
    
                    &.high .value {
                        background-color: #5ec465;
                    }
    
                    &.very-high .value {
                        background-color: #1ca8dd;
                    }
    
                    &.max .value {
    
                        background-color: #99dcf5;
                    }
    
    
                }
    
            }


        }

       

        .pokeInfo {
            grid-area: 1 / 2 / 2 / 3;
            width: 30vw;
            font-size: 1.3vw;

            p {
                padding-bottom: 1.5vw;

            }

            .types {
                display: flex;
                justify-content: flex-start;

            }

            img {
                padding-left: 1vw;
                width: 2.5vw;
            }
            .infoTalent {
                display: grid;
                grid-template-columns: repeat(2, 10vw);
                grid-template-rows: 1fr;
                li {
                    margin-left: 2vw;
                    margin-bottom: 0.5vw;
                    
                }
            }
            .resiste {
                li {
                    display: inline-flex;
                    justify-content: center;
                    width: 7vw;
                    margin-left: 1.5vw;     
                    margin-top: 1.5vw;   
                    border: $grey;
                    border-radius: 2vw;
                    border-style: groove;
                    border-width: 0.3vw;
                    
                    &.bg-gray {
                        background-color: $normal;
                      }
                    
                      &.bg-fire {
                        background-color: $feu;
                      }
                    
                      &.bg-water {
                        background-color: $eau;
                      }
                    
                      &.bg-electric {
                        background-color: $elec;
                      }
                    
                      &.bg-grass {
                        background-color: $plante;
                      }
                    
                      &.bg-ice {
                        background-color: $glace;
                      }
                    
                      &.bg-fighting {
                        background-color: $combat;
                      }
                    
                      &.bg-poison {
                        background-color: $poison;
                      }
                    
                      &.bg-ground {
                        background-color: $sol;
                      }
                    
                      &.bg-flying {
                        background-color: $vol;
                      }
                    
                      &.bg-psychic {
                        background-color: $psy;
                      }
                    
                      &.bg-bug {
                        background-color: $insecte;
                      }
                    
                      &.bg-rock {
                        background-color: $roche;
                      }
                    
                      &.bg-ghost {
                        background-color: $spectre;
                      }
                    
                      &.bg-dragon {
                        background-color: $dragon;
                      }
                    
                      &.bg-dark {
                        background-color: $teneb;
                      }
                    
                      &.bg-steel {
                        background-color: $acier;
                      }
                    
                      &.bg-fairy {
                        background-color: $fee;
                      }
                    
                          
                }
            }
            }
            
        
    }
}