
.navigation {
    text-align: center;

    h1 {
        font-family: $font-pokemon;
        font-size:5vw;
    }

    ul {
        padding: 1vw;
        font-size: 2vw;
        background-color: $color-2;

        li {
            font-size: 2vw;
            color: $white;
            display: inline;
            padding: 1vw;
            margin: 5vw;
            transition: 0.5s;

            &:hover {
                background: $color-1;
            }

        }


    }

}

.nav-active {
    li {
        background-color: $color-1;
    }

}